# Salin file ini jadi .env dan isi dengan nilai acak yang panjang & rahasia.
# Generate contoh key acak: openssl rand -hex 32
MASTER_KEY=73b6a27896dc1a69b6a7fcd2efc4dcc610929365ef31e050d9d5175cd72e8d37
PORT=3000
